<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>My Awesome Blog</h1>
    </header>

    <div class="content">
        {% block content %}

        
        {% endblock %}
    </div>

    <footer>
        <p>Copyright 2023</p>
    </footer>
</body>
</html>


